@import url(https://fonts.googleapis.com/css?family=Century+Gothic);

body {
    font-family: Century Gothic;
}

* {
    box-sizing: border-box
}

.container
{
    background: #F2F5F3;
    border-radius: 3px;
    box-shadow: 1px 0 1px #888888;
    margin: auto;
    padding: 10px;
    width: 90%;
    height: auto;
    min-height: 350px;
    overflow: hidden;
    position: relative;
}

header {
    border-radius: 3px;
    box-shadow: 0 0.5px 0 0.5px #ccc;
    background: white;
    display: inline-block;
    min-height: 80px;
    padding: 10px;
    width: 100%;
}



.logo
{
    float: left;
    text-align: center;
    margin-top: -15px;
}

.order {
  text-decoration: none;
}







/* USER PROFILE PAGE STYLE CODES BEGIN HERE */
.fa_user {
    text-align: center;
}

#icon_btns {
    color: white;
}

.left {
    width: 20%;
    margin: 0 10% 0;
    margin-left: 0;
    height: auto;
    background: white;
    border-radius: 3px;
    box-shadow: 0 0.5px 0 0.5px #ccc;
    padding: 20px;
    color: #a1a1a1;
    font-size: 16px;
}

.left i {
    font-size: 16px;
}

.right
{
    width: 70%; 
    height: auto;
    background: white;
    border-radius: 3px;
    box-shadow: 0 0.5px 0 0.5px #ddd;
    padding: 20px;
    color: #a1a1a1;
}

.hr1 i{
    border: 1px solid #4CAF50;
    margin-left: 22px;
}

#user_icon {
    font-size: 60px;
    margin: 0 auto;
}

#order_form_icon {
    color: #4CAF50;
    font-size: 16px;
}

.user_profile {
    display: flex;
    flex-flow: row wrap;
    margin: 15px 0;
    width: 100%;
}

.orders_controls {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-family: Century Gothic;
    text-align: left;
    border-radius: 3px;
}

h4 {
    text-align: center;
    color: #4CAF50;
    margin: 20px;
    font-size: 18px;
}

h5 {
    color: #4CAF50;
    margin: 20px;
    font-size: 18px;
}

table {
    border-collapse: collapse;
    border-spacing: 10px;
    width: 100%;
    border: 1px solid #ddd;
}

tr, td {
    text-align: left;
    padding: 20px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.item_label
{
    color: #a1a1a1;
    font-size: 14px;
}

.item_details {
    margin-left: 10px;
    margin-bottom: 10px;
    color: #4CAF50;
    font-size: 15px;
}

.edit_label {
    padding: 10px;
    font-family: Century Gothic;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 15px;
    width: 300px;
    background: green;
}

.edit-input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-family: Century Gothic;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 15px;
}

.edit {
    background: white;
    width: 100%;
    display: inline-block;
    text-align: left;
}

/* USER PROFILE PAGE STYLE CODES END HERE */








/* SEARCH BOX STYLE CODES BEGIN HERE */
.search
{
    float: left;
    border: 2px solid #4CAF50;
    overflow: auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-family: Century Gothic;
    margin-right: 10px;
    margin-top: 7px;
    margin-left: 30px;
    width: 45%;
}

.search input[type="text"]
{
    border: 0px;
    padding: 10px 10px;
    font-family: Century Gothic;
}

.search input[type="text"]:focus
{
    outline: 0;
}

.search input[type="submit"]
{
    border: 0px;
    background: none;
    background-color: #4CAF50;
    color: #fff;
    float: right;
    padding: 10px;
    border-radius-top-right: 5px;
    -moz-border-radius-top-right: 5px;
    -webkit-border-radius-top-right: 5px;
    border-radius-bottom-right: 5px;
    -moz-border-radius-bottom-right: 5px;
    -webkit-border-radius-bottom-right: 5px;
    cursor:pointer;
    font-family: Century Gothic;
}

.search input[type="submit"]:hover
{
    background-color: #4CAF50;
}
/* SEARCH BOX STYLE CODES END HERE */










/* SLIDESHOW STYLES BEGIN HERE */
.mySlides 
{
    display: none;
}
img 
{
    vertical-align: middle;
    width: 100%;
}

/* Slideshow container */
.slideshow-container 
{
    max-width: 2000px;
    position: relative;
    margin: auto;
    margin-top: 20px;
    background: #4CAF50;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 30px;
    padding: 8px 12px;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, 0);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.slider_content {
    font-size: 16px;
    text-align: center;
    color: #D6D5D4;
    font-style: oblique;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* SLIDESHOW STYLE CODES END HERE */









/* CREATE ORDER PAGE STYLE CODES BEGIN HERE */
.column {
    flex: 1;
    margin: 2px;
    padding: 30px;
    background: white;
}

.columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 15px 0;
}

.column h2 {
    color: #4CAF50;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}


.order-column {
    flex: 1;
    margin: 2px;
    background: white;
    border-radius: 3px; 
    border: 1px solid #ccc; 
    height: auto; 
    padding:0;
}



.order_header {
    font-size: 14px;
    background: #4CAF50;
    color: white;
    border-radius: 5px;
    margin: 10px;
}

.order_th {
    padding: 10px;
}

.order_td {
    font-size: 14px;
    padding: 10px;
}

.order_delivered {
    color: #4CAF50;
}

.order_pending {
    color: dodgerblue;
}

.order_cancelled {
    color: red;
}

/* CREATE ORDER PAGE STYLE CODES END HERE */








footer {
    padding: 0 15px;
}





.header {
  overflow: hidden;
  background-color: #fff;
  padding: 10px 10px;
}

.header a {
  float: left;
  color: #4CAF50;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 15px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
    color: #4CAF50;
    text-decoration: underline;
    font-weight: bold;
}


.header-right {
  float: right;
  border: 0.5px solid #ddd;
}






.service_icon {
    padding: 40px;
    margin: auto;
    text-align: center;
}

.service_icon i {
    font-size: 40px;
    color: #4CAF50;
}

.service_text {
    font-size: 15px;
    padding: 10px;
    color: #ADADAC;
    text-align: justify;
}


.button {
    display: inline-block;
    border-radius: 4px;
    background-color: white;
    border: 1px solid #4CAF50;
    color: #4CAF50;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    vertical-align:middle;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.cancel {
    background: red;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button a {
    text-decoration: none;
    color: #4CAF50;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
  color: red;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button:hover a {
    color: red;
}

.button:hover a:after {
  opacity: 1;
  right: 0;
}







select {
    padding: 10px;
    margin: 2px auto;
    -webkit-border-radius: 4px solid #ccc;
    -moz-border-radius:4px solid #ccc;
    border-radius:4px ;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border: 1px solid #ccc;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    width: 100%;
    font-family: Century Gothic;
}






.hr {
    border: 1px solid white;
}

.form-inline {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 20px;
}


.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}

.form-inline button:hover {
  background-color: royalblue;
}

.order-input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-family: Century Gothic;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 15px;
    width: 30%;
}



.order_btn {
    width: 20%;
    border-radius: 4px;
    background-color: #4CAF50;
    border: 1px solid white;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    max-width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 100px;
}

.order_details {
    background: white;
    width: 100%;
    display: inline-block;
    text-align: center;
}


.order_title {
    width: 100%;
    font-weight: bold;
    padding: 20px;
    color: #4CAF50;
    font-size: 18px;
}

.order_details_title {
    width: 100%;
    padding: 20px;
    color: #4CAF50;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 0;
}





/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {
        font-size: 11px;
    }

    .header-right {
        border: none;
        float: center;
    }
}


/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {
        padding-right:18px;
    }
    .order_btn {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .form-inline {
        flex-direction: column;
        align-items: stretch;
    }

    .form-inline input {
        margin: 10px 0;
    }
  
    .left {
        width: 100%;
        margin: 15px 5%;
        left: 0;
        margin-left: 0;
    }

    .order_btn {
        width: 100%;
    }

    .order-input {
        width: 100%;
    }

    .order-column {
        width: 100%;
    }

    .right
    {
        width: 100%; 
        height: auto;
    }

    .user_profile {
        display: inline-block;
        margin: 15px 0;
        width: 100%;
    } 
}


@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
        border: none;
    }
    .numbertext {
        top: 30%;
        font-size: 14px;
    }
    .slider_content {
        display: none;
    }

    .button {
        font-size: 16px;
    }

    .order-column {
        width: 100%;
    }

    .left {
        width: 100%;
        margin: 15px 5%;
        left: 0;
        margin-left: 0;
    }
    .right {
        width: 100%; 
        height: auto;
    }

}



@media screen and (max-width: 680px) {
    .columns .column, .order-column {
        flex-basis: 100%;
        margin: 0 0 5px 0;
    }
    .column, .order-column {
        width: 100%;
    }
    .header-right {
        border: none;
        float: left;
    }
    .numbertext {
        font-size: 20px;
        top: 40%;
    }
    .slider_content {
        display: none;
    }

    .left {
        width: 100%;
        margin: 15px 5%;
        left: 0;
        margin-left: 0;
    }
    .right {
        width: 100%; 
        height: auto;
    }

}

/* ===========================
   ====== Media Query for Search Box ====== 
   =========================== */
@media only screen and (min-width : 150px) and (max-width : 780px)
{
    .column {
        width: 100%;
    }
    .search
    {
        width: 98%;
        margin: 10px auto;
    }

    .left {
        width: 100%;
        margin: 15px 5%;
        left: 0;
        margin-left: 0;
    }
    .right {
        width: 100%; 
        height: auto;
    }
    
}


@media screen and (max-width: 980px) {
    .numbertext {
        font-size: 20px;
    }
    .slider_content {
        display: none;
    }
    .column, .order-column {
        width: 100%;
    }
    .columns .column, .order-column {
        flex-basis: 100%;
        margin-bottom: 5px;
    }
    .header-right {
        border: none;
        float: left;
    }

    .left {
        width: 100%;
        margin: 15px 5%;
        left: 0;
        margin-left: 0;
    }
    .right {
        width: 100%; 
        height: auto;
    }
}

@media screen and (max-width: 1200px) {
    .header-right {
        border: none;
        float: left;
    }
}
